.prompt-button {
  color: $white;
  background: $primary_orange;
  border-radius: 0;
  text-transform: uppercase;
  font-family: $body_text;

  &:hover {
    color: $primary_blue;
  }

  &:visited, &:focus, &:active {
    color: $white;
  }
}

.prompt-button.spaced {
  margin-bottom: 50px;
  margin-top: 50px;
}