#slides {
  height: 600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  @include respond-to(phone) {height: 320px;}
  @include respond-to(smalltablet) {height: 320px;}

}

.carousel-slide {
  width: 100%;
  height: 550px;
  position: relative;
  @include respond-to(phone) {height:auto; max-height: 320px;}
  @include respond-to(smalltablet) {height:auto; max-height: 320px;}

  img {
    width: 100%;
  }

  .slide-text-holder {
    width: 100%;
    height: 3em;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    bottom: 0;
    z-index: 10;

    p {
      width: 100%;
      text-align: right;
      padding-right: 3em;
      font-size: 2em;
      color: white;
      text-transform: uppercase;
    }
  }
}