#slides {
  max-height: 600px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  @include respond-to(phone) {height: 320px;}
  @include respond-to(smalltablet) {height: 320px;}

}

.carousel-slide {
  width: 100%;
  max-height: 600px;
  position: relative;
  overflow: hidden;
  @include respond-to(phone) {height:auto; max-height: 320px;}
  @include respond-to(smalltablet) {height:auto; max-height: 320px;}

  img {
    width: 100%;
    display: block;
//    position: absolute;
//    left: 0;
//    bottom: -30%;
    @include respond-to(widedesktop) {position: relative; left: 0; bottom: 150px;}
  }

  .slide-text-holder {
    width: 100%;
//    height: 5em;
    padding: 20px;
    font-family: $body_text;
    background-color: rgba(26,40,64,.6);
    position: absolute;
    bottom: 0;
    z-index: 10;

    p {
      width: 100%;
      text-align: right;
      padding-right: 3em;
      font-size: 2em;
      color: white;
      text-transform: uppercase;
    }

    .subtext {
      font-size: 1em;
      text-transform: uppercase;
      padding-right: 6em;
      color: $primary_orange;
    }
  }
}