#slides {
//  max-height: 600px;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
//  @include respond-to(phone) {height: 320px;}
//  @include respond-to(smalltablet) {height: 320px;}

  .slick-prev {
    position: absolute;
    left: 30px;
    top: 50%;
    width: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: transparent;
    position: absolute;
    border: none;
    color: transparent;
  }

  .slick-next {
    position: absolute;
    right: 35px;
    top: 50%;
    width: 50px;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: transparent;
    position: absolute;
    border: none;
    color: transparent;
  }

  .slick-next::before {
    content: '>';
    display: block;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    color: $primary_orange;
    background-color: $white;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .slick-prev::before {
    content: '<';
    display: block;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    color: $primary_orange;
    background-color: $white;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

}

.carousel-slide {
  width: 100%;
//  max-height: 600px;
  position: relative;
  overflow: hidden;
//  @include respond-to(phone) {height:auto; max-height: 320px;}
//  @include respond-to(smalltablet) {height:auto; max-height: 320px;}

  img {
    width: 100%;
    display: block;
  }

  .slide-text-holder {
    width: 100%;
    padding: 20px;
    font-family: $body_text;
    background-color: rgba(26,40,64,.6);
    position: absolute;
    bottom: 0;
    z-index: 10;
    @include respond-to(phone) {padding-top: 40px; position: relative; height: 120px;}
    @include respond-to(smalltablet) {padding-top: 40px; position: relative; height: 120px;}

    p {
      width: 100%;
      text-align: right;
      padding-right: 3em;
      font-size: 2em;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      @include respond-to(phone) {padding-right: 2em; font-size: 1em;}
      @include respond-to(smalltablet) {padding-right: 2em; font-size: 1em;}
    }

    .subtext {
      font-size: 1em;
      text-transform: uppercase;
      padding-right: 6em;
      color: $primary_orange;
      @include respond-to(phone) {padding-right: 2em;}
      @include respond-to(smalltablet) {padding-right: 2em;}
    }
  }
}