.section-container {
  text-align: center;
  position: relative;
  margin-bottom: 50px;

  &>h1 {
    margin-bottom: 50px;
  }

  .section-title {
    font-family: $body_text;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $primary_blue;
    background: $white;
    padding: 0 2em;
    @include respond-to(phone) {padding: 0;}
    @include respond-to(smalltablet) {padding: 0;}
  }

  p {
    max-width: 800px;
    margin: 1em auto;
    color: $grey_text;
    font-family: $body_text;
    padding: 10px;
    font-weight: 300;
  }

  &:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: $primary_blue;
    top: 20px;
    left: 0;
    z-index: -1;
  }
}

.course-row {
  border-bottom: 1px solid $light_grey;
  @include respond-to(phone) {border-bottom: none;}
  @include respond-to(smalltablet) {border-bottom: none;}

  &.final-row {
    border-bottom: none;
  }
}

.item-name {
  color: $primary_orange;
//  font-size: 12pt;
  text-transform: uppercase;
  text-align: left;
  font-family: $body_text;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.course-row .item-description {
  margin-top: 0;
  color: $grey_text;
  font-family: $body_text;
  font-weight: 300;
  text-align: left;
}

.course-box {
  margin-bottom: 2em;
  margin-top: 1em;
}