.main-navbar {
  height: 50px;
  ul {
    height: 100%;
    list-style-type: none;
    padding: 0;
    text-align: center;
    background: $primary_blue;
  }

  &>ul {
    border-bottom: 2px solid $white;
  }

  &>ul>li {
    display: inline-block;
    height: 100%;
    width: 19.5%;
    color: $white;
    text-transform: uppercase;
    line-height: 50px;
    font-family: $body_text;
    font-size: 120%;
    position: relative;

    &:hover {
      background: $secondary_blue;
    }
  }

  .submenu {
    display: block;
    position: absolute;
    top: 48px;
    overflow: hidden;
    height: 0;
    max-height: 0;
    width: 100%;
    transition: max-height .75s;
    background: $secondary_blue;
  }

  &>ul>li:hover .submenu {
    height: auto;
    max-height: 400px;
    z-index: 100;
  }

  .submenu>li:hover {
    background-color: $primary_blue;
  }
}