.searchbar {
  width: 100%;
  height: 50px;
  padding: 8px 2em;
  display: none;
  @include respond-to(phone) {display: block;}
  @include respond-to(smalltablet) {display: block;}
  @include respond-to(largetablet) {display: block;}

  .search-form {
    width: 300px;
    @include respond-to(phone) {display: none;}
    @include respond-to(smalltablet) {display: none;}
    @include respond-to(largetablet) {display: none;}
  }

  .glyphicon-menu-hamburger {
    display: none;
    font-size: 2em;
    color: $primary_orange;
    @include respond-to(phone) {display: inline-block;}
    @include respond-to(smalltablet) {display: inline-block;}
    @include respond-to(largetablet) {display: inline-block;}
  }
}

.contact-scroller {
  width: 60%;
  float: left;
  @include respond-to(phone) {display: none;}
  @include respond-to(smalltablet) {display: none;}
  @include respond-to(largetablet) {display: none;}

  .scroller-item {
    color: $secondary_orange;
    opacity: 0;
    font-size: 1.75em;
    line-height: 34px;
    position: absolute;
    transition: 1s;
  }

  .scroller-item.current {
    opacity: 1;
    display: inline;
    left: 20px;
  }

  .scroller-item:not(.current) {
    left: 500px;
  }
}