.workshop-container {
  margin: 3em auto;
}

.workshop-row {
  font-family: $body_text;
  margin-bottom: 1em;

  &:hover {
    background: $eggshell;
  }

  .workshop-detail {
    text-transform: capitalize;

    &>.prompt-button {
      margin: 0;
      padding: 5px 10px;
    }

    &:not(:last-child) {
      padding-top: 5px;
    }
  }
}

.workshop-list-head {
  font-weight: 600;
  color: $primary_blue;
}

.workshop-list-head.workshop-row .workshop-detail {
  text-decoration: underline;
}