@font-face {
  font-family: 'Agenda Italic';
  src: url('../../fonts/agenda-medium-italic.ttf');
}

$lead_italic: 'Agenda Italic', Ariel, sans-serif;

$body_text: 'Open Sans', Helvetica, Ariel, sans-serif;