html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
//  overflow: hidden;
}

a, a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.slide-nav-menu {
  position: absolute;
  top: 0;
  left: -310px;
  transition: .3s;
  width: 300px;
//  width: 100vw;
  min-height: 100%;
  transform: translate3d(0,0,0);
  background: $secondary_blue;
  z-index: 100;
}

.slide-nav-menu.show {
  transform: translate3d(310px,0,0);
}

.page-title {
  color: $primary_blue;
  text-align: center;
  margin-bottom: 2em;
  font-family: $lead_italic;

  &:after {
    content: '';
    display: block;
    border-bottom: 3px solid $primary_orange;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
  }
}

.page-subtitle {
  color: $primary_blue;
  margin-bottom: 2em;
  font-family: $lead_italic;

  &:after {
    content: '';
    display: block;
    border-bottom: 3px solid $primary_orange;
    width: 80%;
    max-width: 300px;
    margin: 0;
  }
}

.orange-subheading {
  font-family: $body_text;
  color: $primary_orange;
  text-transform: uppercase;
}

.isomark-heading {
  font-family: $body_text;
  text-transform: uppercase;
}

.head-one {
  font-weight: 600;
}

.head-two {
  color: $primary_blue;
}

.head-three {
  color: $primary_orange;
}

.head-four {
  color: $primary_orange;
}

#mobile-top-button {
  position: fixed;
  display: none;
  top: 85vh;
  right: 16px;
  transition: .5s;
  text-align: center;
  font-size: 1em;
  font-family: $body_text;
  text-transform: uppercase;
  background-color: $secondary_blue;
  color: $secondary_orange;
  width: 50px;
  height: 50px;
  line-height: 50px;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 1px 1px 1px $primary_blue;
  @include respond-to(phone) {display: block;}
  @include respond-to(smalltablet) {display: block;}
}