.enquiry-box {
  width: 85%;
  height: 4em;
  max-height: 4em;
  margin: 1em auto;
  background-color: $primary_blue;
  padding: 1em;
  font-family: $body_text;
  color: $white;
  transition: 1s;
  overflow: hidden;


  &.been-read {
    background-color: $grey_text;
  }

  &.archived {
    background-color: $secondary_blue;
  }

  &:hover {
    max-height: 400px;
    height: auto;
  }

  .toggle-read, .archive {
    margin: 0 1em;
  }

  header {
    color: $white;

    .contact-person {
      font-size: 1.5em;
    }

  }

  .glyphicon {
    color: $primary_orange;
    padding-right: 10px;
  }

  .enquiry-details {
    padding: 16px 0 0;
  }

  .enquiry-detail {
    display: inline-block;
    width: 30%;
  }

  .enquiry-body {
    strong {
      color: $primary_orange;
    }
  }

  hr {
    border-color: $primary_blue;
  }
}

.bookings-container {
  position: relative;

  .archive-button {
    position: absolute;
    top: 3em;
    right: 1em;
  }
}

.error-alert {
  display: none;
}