.isomark-form {
  label {
    color: $primary_orange;
    font-family: $body_text;
  }

  input[type=text], input[type=email], textarea, select {
    border: 1px solid $secondary_blue;
    border-radius: 0;
  }

  input[type=text]:focus, input[type=email]:focus {
    border-color: $light_grey;
  }
}

.isomark-panel {
  &.panel-default {
    border-color: $primary_blue;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > .panel-heading {
    background-color: $secondary_blue;
    border-color: $primary_blue;
    color: $primary_orange;
  }
}



