.page-title-banner {
  background-image: url(../../images/page_banner_pattern.png);
  background-color: $washed_blue;
  padding: 70px 5px;
  text-align: center;
  margin-bottom: 50px;

  span {
    display: inline-block;
    border-bottom: 1px solid $primary_orange;
    border-top: 1px solid $primary_orange;
    text-transform: uppercase;
    font-family: $body_text;
    font-weight: 600;
    font-size: 3em;
    color: $white;
  }
}