.about-lead {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 40px;
  font-family: $body_text;
  color: $grey_text;
  font-size: 120%;
  font-weight: 300;
}

.accreditations {
  list-style-image: url(../../images/isomark_bullet.png);
  padding-top: 10px;
  padding-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;

  li {
    width: 100%;
    padding-top: 20px;
    text-align: left;
    font-family: $body_text;
    font-size: 120%;
    color: $grey_text;
    font-weight: 300;
  }
}

.about-page-section {
  p {
    font-size: 120%;
  }
}

.about-page-section .corporate-structure-item {
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 50px;

  p {
    margin: 0;
    padding: 5px 0;
  }
}