.section-container.front-contact-section {
  font-family: $body_text;
  text-align: left;

  h1 {
    text-align: center;
  }

  .contact-item {
    max-width: 350px;
    margin: 0 auto;
  }

  p {
    color: $grey_text;
    padding: 5px 0;
    margin: 0;
  }

  .row div {
    padding-bottom: 40px;
  }
}