.course-detailed {
  font-family: $body_text;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid $grey_text;

  h1.course-name {
    color: $primary_blue;
    font-size: 150%;
    text-align: left;
    margin-top: 0;
  }

  .course-detail-name {
    color: $primary_orange;
    text-transform: uppercase;
  }

  .course-info {
    color: $grey_text;
    font-weight: 300;
  }
}

.course-icons-container {
  text-align: center;

  .course-icon-box {
    width: 35%;
    margin: 2em 4em;
    min-height: 250px;
    display: inline-block;

    h4 {
      font-family: $body_text;
      text-transform: uppercase;
      color: $primary_blue;
    }

    &:hover h4 {
      color: $primary_orange;
    }


    &:hover svg .svg-blue {
      stroke: $primary_blue;
    }

    &:hover svg .svg-orange {
      stroke: $primary_orange;
    }

    &:hover svg .svg-orange-fill {
      fill: $primary_orange;
    }
  }
}