.homepage-banner {
  width: 100%;
  padding: 4em 0 2em;
  background: $primary_blue;

  img {
    width: 80%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
  }

  .tagline {
    color: $primary_orange;
    font-family: $lead_italic;
    text-align: center;
    padding: 1em;
    animation: dropIn 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: relative;
    top: -300px;
    left: 0;
  }
}

@keyframes dropIn {
  to {top: 0; opacity: 1;}
}
.intro {
  width: 100%;
  margin: 0 auto;
  font-family: $lead_italic;
  background: $primary_blue;
  color: $white;
  font-size: 150%;
  text-align: center;
  padding-bottom: 2em;
  word-break: keep-all;
  padding-left: 10px;
  padding-right: 10px;

  p {
    max-width: 700px;
    margin: 0 auto;
  }
}

.service-box, .course-box {
  padding: 0 2em 2em 2em;
  margin-top: 2em;
}

.service-box:nth-child(2), .course-box:nth-child(2) {
  border-left: 1px solid $light_grey;
  border-right: 1px solid $light_grey;
}

.client-logo-row {
  margin-top: 40px;
  margin-bottom: 50px;
}

.client-box {
  height: 150px;
  padding: 0 40px;
  @include respond-to(phone) {margin-bottom: 20px;}
  @include respond-to(smalltablet) {margin-bottom: 20px;}

  &:not(:hover) svg {
    path, rect, circle,polygon {
      fill: $light_grey;
      stroke: $light_grey;
    }

    .white {
      fill: $white;
      stroke: $white;
    }

    .white-fill {
      fill: $white;
      stroke: $light_grey;
    }
  }

  svg {
    max-height: 150px;
    min-height: 150px;
    width: 100%;
    @include respond-to(phone) {max-width: 150px;}
    @include respond-to(smalltablet) {max-width: 150px;}
  }
}