.service-container {
  font-family: $body_text;

  p {
    max-width: 800px;
    margin: 1em auto;
    color: $grey_text;
  }
}

.service-icon-container {
  text-align: center;


  .service-icon-box {
    width: 28%;
    max-width: 250px;
    max-height: 320px;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid $grey_text;
    padding: 50px 1em;
    transition: .75s;

    &.dim {
      opacity: 0.5;
      transform: scale(.8,.8);
    }

    &:hover, &.current {
      border-color: $primary_orange;
    }

    &:hover svg .svg-blue, &.current svg .svg-blue {
      stroke: $primary_blue;
    }

    &:hover svg .svg-orange, &.current svg .svg-orange {
      stroke: $primary_orange;
    }
    svg {
      max-width: 150px;
      width: 100%;
      max-height: 150px;
    }

    h4 {
      font-family: $body_text;
      text-transform: uppercase;
      color: $primary_blue;
      padding-top: 50px;
    }

    &:hover h4 {
      color: $primary_orange;
    }

  }

}

.service-content-area {
  font-family: $body_text;
  color: $grey_text;
  position: relative;
  min-height: 400px;

  ul li {
    list-style-image: url(../../images/isomark_bullet.png);
  }


  section {
    max-width: 800px;
    margin: 1em auto;
//    position: absolute;
//    top: 0;
//    left: 0;
    display: none;
  }
  h2, h3, h4 {
    text-transform: uppercase;
    color: $primary_orange;
  }
}

.service-icon-holder {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto;

  svg {
    width: 100%;
  }
}

.service-title {
  font-family: $body_text;
  text-transform: uppercase;
  color: $primary_orange;
  margin-top: 40px;
}
